{
    "plugins": [
        "stylelint-order"
    ],
    "rules": {
        "at-rule-empty-line-before": "always",
        "at-rule-name-case": "lower",
        "at-rule-name-newline-after": "always",
        "at-rule-name-space-after": "always",
        "at-rule-no-unknown": true,
        "at-rule-semicolon-newline-after": "always",
        "at-rule-semicolon-space-before": "never",
        "block-closing-brace-empty-line-before": "never",
        "block-closing-brace-newline-after": "always",
        "block-no-empty": true,
        "color-hex-case": "lower",
        "color-hex-length": "long",
        "color-no-invalid-hex": true,
        "comment-no-empty": true,
        "declaration-block-no-duplicate-properties": true,
        "declaration-block-no-redundant-longhand-properties": true,
        "declaration-block-no-shorthand-property-overrides": true,
        "declaration-block-semicolon-newline-after": "always",
        "declaration-block-semicolon-newline-before": "never-multi-line",
        "declaration-block-semicolon-space-after": "always-single-line",
        "declaration-block-semicolon-space-before": "never",
        "declaration-block-trailing-semicolon": "never",
        "font-family-no-duplicate-names": true,
        "font-family-no-missing-generic-family-keyword": true,
        "function-calc-no-unspaced-operator": true,
        "function-comma-newline-after": "never-multi-line",
        "function-comma-newline-before": "never-multi-line",
        "function-comma-space-after": "always",
        "function-comma-space-before": "never",
        "function-linear-gradient-no-nonstandard-direction": true,
        "function-name-case": "lower",
        "function-parentheses-space-inside": "never",
        "function-url-no-scheme-relative": true,
        "function-url-quotes": "always",
        "function-whitespace-after": "always",
        "indentation": 4,
        "keyframe-declaration-no-important": true,
        "length-zero-no-unit": true,
        "max-line-length": 135,
        "max-nesting-depth": 5,
        "media-feature-colon-space-after": "always",
        "media-feature-colon-space-before": "never",
        "media-feature-name-case": "lower",
        "media-feature-name-no-unknown": true,
        "media-feature-parentheses-space-inside": "never",
        "no-duplicate-at-import-rules": true,
        "no-duplicate-selectors": true,
        "no-empty-first-line": true,
        "no-eol-whitespace": true,
        "no-extra-semicolons": true,
        "no-invalid-double-slash-comments": true,
        "no-missing-end-of-source-newline": true,
        "number-leading-zero": "never",
        "number-max-precision": 4,
        "number-no-trailing-zeros": true,
        "order/properties-alphabetical-order": true,
        "property-case": "lower",
        "property-no-unknown": true,
        "selector-attribute-operator-space-after": "never",
        "selector-attribute-operator-space-before": "never",
        "selector-attribute-quotes": "always",
        "selector-combinator-space-after": "always",
        "selector-combinator-space-before": "always",
        "selector-descendant-combinator-no-non-space": true,
        "selector-list-comma-newline-before": "never-multi-line",
        "selector-list-comma-space-after": "always",
        "selector-list-comma-space-before": "never",
        "selector-max-attribute": 1,
        "selector-max-class": 3,
        "selector-max-combinators": 3,
        "selector-max-compound-selectors": 3,
        "selector-max-empty-lines": 0,
        "selector-max-id": 1,
        "selector-max-pseudo-class": 3,
        "selector-max-type": 3,
        "selector-max-universal": 1,
        "selector-nested-pattern": "(.*)",
        "selector-no-qualifying-type": true,
        "selector-pseudo-class-case": "lower",
        "selector-pseudo-class-no-unknown": true,
        "selector-pseudo-class-parentheses-space-inside": "never",
        "selector-pseudo-element-case": "lower",
        "selector-pseudo-element-no-unknown": [ true, {
            ignorePseudoElements: [ "/^(ng-deep)/", "/^(ng-host)/", "/^(ng-host-context)/" ]
        } ],
        "selector-pseudo-element-colon-notation": "double",
        "selector-type-case": "lower",
        "selector-type-no-unknown": true,
        "shorthand-property-no-redundant-values": true,
        "string-no-newline": true,
        "string-quotes": "single",
        "unit-case": "lower",
        "unit-no-unknown": true,
        "value-keyword-case": "lower",
        "value-list-comma-space-after": "always",
        "value-list-comma-space-before": "never",
        "value-list-max-empty-lines": 0
    },
    "syntax": "sass"
}
